<div class="Container">
  <header class="PageHeader">
    <div class="SectionHeader SectionHeader--center">
      <h1 class="SectionHeader__Heading Heading u-h1">
        特定商取引法に基づく表記
      </h1>
    </div>
  </header>
  <div class="PageContent PageContent--narrow policy">
    <div class="main-section col-lg-9 col-sm-12 col pull-right">
      <div id="info" class="container-section">
        <h2 class="policy__title">特定商取引法に基づく表記</h2>
        <dl class="def_lst">
          <dt class="def-lst-dt">販売業者</dt>
          <dd class="def-lst-dd">株式会社 ビッグウイング </dd>
          <dt class="def-lst-dt">運営統括責任者名</dt>
          <dd class="def-lst-dd">鬼塚 健一 </dd>
          <dt class="def-lst-dt">郵便番号</dt>
          <dd class="def-lst-dd">536-0011 </dd>
          <dt class="def-lst-dt">住所</dt>
          <dd class="def-lst-dd">大阪府大阪市城東区放出西２丁目１７－２７ </dd>
          <dt class="def-lst-dt">商品代金以外の料金の説明</dt>
          <dd class="def-lst-dd">
            販売価格とは別に配送料税込（全国一律660円、5,500円以上送料無料）がかかります。 
          </dd>
          <dt class="def-lst-dt">申込有効期限</dt>
          <dd class="def-lst-dd">
            ご注文後7日以内といたします。ご注文後７日間ご入金がない場合は、購入の意思がないものとし、注文を自動的にキャンセルとさせていただきます。 
          </dd>
          <dt class="def-lst-dt">不良品</dt>
          <dd class="def-lst-dd">
            商品到着後、<a
              href="https://bigwing.shop/pages/contact"
              >〈お問い合わせフォーム〉</a
            >にてご連絡ください。商品に欠陥がある場合を除き、返品には応じかねますのでご了承ください。また商品は、お届けされた状態のままでご返品ください。(箱・タグ・保証書等の付属品等が欠品している場合もお受けできません。)
             
          </dd>
          <dt class="def-lst-dt">販売数量</dt>
          <dd class="def-lst-dd">各商品ページにてご確認ください。 </dd>
          <dt class="def-lst-dt">引渡し時期</dt>
          <dd class="def-lst-dd">
            ご注文を受けてから３営業日以内に発送いたします。 
          </dd>
          <dt class="def-lst-dt">お支払い方法</dt>
          <dd class="def-lst-dd">
            クレジットカード決済、AmazonPayでのお支払い方法をご用意しております。<br /><br />
          </dd>
          <dt class="def-lst-dt">返品期限</dt>
          <dd class="def-lst-dd">
            商品到着後７日以内とさせていただきます。<br /><br />
            ※お客様都合による返品交換、商品ご使用後の返品交換はお受けできません。 
          </dd>
          <dt class="def-lst-dt">返品送料</dt>
          <dd class="def-lst-dd">
            不良品に該当する場合は当方でご負担いたします。 
          </dd>
          <dt class="def-lst-dt">ご注文内容の変更・キャンセルについて</dt>
          <dd class="def-lst-dd">
            ご注文は「注文完了ページ」が表示された時点で、商品のご購入が確定となります。<br />
            ご注文の際は、商品名・数量・カラー等お間違いの無いよう、お確かめの上ご注文ください。ご注文完了後は、すべての商品について、お客様のご都合によるご注文のキャンセルはできませんので、ご容赦のほどよろしくお願い申し上げます。<br />
            複数ご注文による、注文の統合や数量の追加については、<a
              href="https://bigwing.shop/pages/contact"
              >〈お問い合わせフォーム〉</a
            >にて「ご注文の変更」として送信して下さいますよう、よろしくお願い申し上げます。 
          </dd>
          <dt class="def-lst-dt">サービス名</dt>
          <dd class="def-lst-dd">ビッグウイング オンラインストア </dd>
          <dt class="def-lst-dt">電話番号</dt>
          <dd class="def-lst-dd">06-6167-3005 </dd>
          <dt class="def-lst-dt">公開メールアドレス</dt>
          <dd class="def-lst-dd">bw_ec@bigwing.co.jp </dd>
          <dt class="def-lst-dt">ホームページアドレス</dt>
          <dd class="def-lst-dd">https://www.bigwing.co.jp </dd>
        </dl>
      </div>
      <!-- <div id="delivery" class="container-section">
        <h2 class="policy__title">配送・送料について</h2>
        <dl class="def_lst">
          <dt class="def-lst-dt">佐川急便</dt>
          <dd class="def-lst-dd">
            送料一律（税込）660円で発送いたします。ご購入合計（税込）5,500円以上の場合は送料無料で配達いたします。<br />
            ご注文を受けてから3営業日以内に発送いたします。 <br />
            <br />
            ※予約商品の配送に関して<br />
            予約商品はお届け希望日を指定できません。<br />
            商品名に記載している配送日以降の商品発送となります。<br />
            <br />
            当社指定の配送日以降で、お届けする日時をご希望の場合は、<br />
            お手数ですが、備考欄にてご希望の日時をご記入ください。<br />
            【午前中（8時～12時）/12時～14時 /14時～16時 /16時～18時 /18時～20時
            /19時～21時】 
          </dd>
        </dl>
      </div>
      <div id="payment" class="container-section">
        <h2 class="policy_title">支払い方法について</h2>
        <dl class="def_lst">
          <dt class="def-lst-dt">クレジットカード</dt>
          <dd class="def-lst-dd">
            <img
              class="payment_img"
              src="https://img.shop-pro.jp/common/card2.gif"
            /><img
              class="payment_img"
              src="https://img.shop-pro.jp/common/card6.gif"
            /><img
              class="payment_img"
              src="https://img.shop-pro.jp/common/card18.gif"
            /><img
              class="payment_img"
              src="https://img.shop-pro.jp/common/card0.gif"
            /><img
              class="payment_img"
              src="https://img.shop-pro.jp/common/card9.gif"
            /><br />
            ご利用可能なクレジットカード<br />
            VISA／ダイナース／マスターカード／JCB／アメリカン・エキスプレス<br />
            <br />
            [予約商品について]<br />
            システムの仕様によりクレジットカードにつきましては注文確定時に決済が行われます。<br />
            予約商品の予約開始日/発売日により商品到着前に引き落としが行われる場合がございます。 
          </dd>
          <dt class="def-lst-dt">代金引換(現金)</dt>
          <dd class="def-lst-dd">
            代引金額 代引手数料（税込）<br />
            1万円以下 330円<br />
            3万円以下 440円<br />
            10万円以下 660円<br />
            30万円以下 1,100円 
          </dd>
          <dt class="def-lst-dt">PayPay決済</dt>
          <dd class="def-lst-dd">
            ご利用いただける決済方法は「PayPay残高」のみです。<br />
            残高が不足している場合、チャージが必要です。<br />
            チャージ方法に関しては下記URLをご確認ください。<br />
            https://paypay.ne.jp/guide/charge/ <br />
            <br />
            [予約商品について]<br />
            システムの仕様によりPayPayにつきましては注文確定時に決済が行われます。<br />
            予約商品の予約開始日/発売日により商品到着前に引き落としが行われる場合がございます。 
          </dd>
        </dl>
      </div> -->
    </div>
  </div>
</div>
